.header{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(240, 240, 240);
}



.left-side{
  display: flex;
  align-items: center;
}

.fudgo-logo{
  height: 100px;
  margin-left: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.middle-side{
  flex: 1;
  margin-left: 0px;
  margin-right: 500px;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar{
  flex: 1;
  height: 36px;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 1px;
  border-color: rgb(192, 192, 192);
  border-style: solid;

  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  margin-left: 0px;
}

.search-bar::placeholder{
  font-family: Roboto,Arial;
  font-size: 16px;
}





 